@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-fundo: #3E5879;
    --cor-fonte: #D8C4B6;
    --cor-hover: #997C70;

    --fonte-Bebas-Neue: "Bebas Neue", serif;
    --fonte-Roboto-Condensed: "Roboto Condensed", serif;
    --fonte-Dancing: "Dancing Script", cursive;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
}

.cabecalho{
    font-family: var(--fonte-Bebas-Neue);
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
}

.conteudo{
    padding: 1% 0% 1% 0%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: var(--fonte-Roboto-Condensed);
}

textarea{
    resize: none;
    border: none;
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    font-family: var(--fonte-Roboto-Condensed);
    font-weight: 400;
    font-size: 0.9em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.conteudo__aplicacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 5px;
}

.conteudo__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 300px;
    height: 400px;
    padding: 3%;
    border: 5px outset var(--cor-fonte);
    border-radius: 16px;
}

.conteudo__texto-botoes{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 5px;
}

select{
    border: none;
    width: 70px;
    background-color: var(--cor-fundo);
    font-family: var(--fonte-Roboto-Condensed);
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: var(--cor-fonte);
}

input{
    border: none;
    width: 100px;
    text-align: center;
    background-color: var(--cor-fundo);
    font-family: var(--fonte-Roboto-Condensed);
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: var(--cor-fonte);
}

.conteudo__moeda{
    padding: 5%;
    border: 5px outset var(--cor-fonte);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.conteudo__mensagem{
    font-size: 0.5em;
}

button{
    font-family: var(--fonte-Roboto-Condensed);
    font-weight: 400;
    font-size: 0.8em;
    width: 160px;
    height: 55px;
    padding: 1%;
    background-color: var(--cor-fonte);
    border: 2px solid var(--cor-fundo);
    border-radius: 16px;
    color: var(--cor-fundo);
}

button:disabled{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    border-color: var(--cor-fonte);
}

button:hover{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    border-color: var(--cor-fonte);
}

.conteudo__txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0% 1% 0%;
}

.conteudo__input-txt{
    border: 5px outset var(--cor-fonte);
    border-radius: 24px;
    width: 160px;
    height: 55px;
}

.conteudo__botoes{
    padding: 1% 0% 1% 0%;
}

.rodape{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5px;
    width: 100%;
    position: absolute;
}

.rodape__texto{
    font-family: var(--fonte-Roboto-Condensed);
    font-size: 0.8em;
}

.rodape__link-dev{
    text-decoration: none;
    font-family: var(--fonte-Dancing);
    font-size: 1em;
    color: var(--cor-fonte);
}

.rodape__link-dev:hover{
    color: var(--cor-hover);
}

@media (max-width: 500px){

    body{
        padding: 0%;
    }

    .cabecalho{
        text-align: center;
        padding: 0% 0% 0% 0%;
    }

    .conteudo{
        align-items: center;
    }

    .conteudo__aplicacao{
        padding: 5% 0% 0% 0%;
    }

    .conteudo__moeda{
        padding: 5%;
    }

    select{
        width: 85px;
    }

    .conteudo__botoes{
        padding: 15% 0% 0% 0%;
    }

    .conteudo__texto{
        width: 275px;
        height: 300px;
        margin: 20% 0% 0% 0%;
    }
}
